body {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    color: rgb(85, 85, 85);
    font: 15px "Helvetica Nueue",sans-serif;
    padding: 110px 0px 0px;
}


.wrapper {
    width: 960px;
    margin: 0px auto;
    -moz-box-sizing: border-box;
    padding: 60px 0px;
}

#content {
    padding: 30px 0px;
}

#content.wrapper {
    
}

