@(user: User)

@import utils.Floors

@import helper._

@import play.i18n.Messages;

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Registration") {
    	
    	@if(flash.containsKey("success")) {
        <div class="alert-message success">
            @flash.get("success")
        </div>
    } 
    	@*
    	* TO DO										*
    	* add url to download statement *.pdf 		*
    	* add manual -what to do after registration *
    	*@
    	<a href="@routes.Users.statement(user.id)">@Messages.get("downloadStatement")</a>
}
