@(userForm: Form[User])

@import utils.Floors

@import helper._
@import helpers.mySelect
@import helpers.acceptRulesCheckbox

@import play.i18n.Messages;

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Registration") {

		@if(flash.containsKey("fail")) {
	        <div class="alert-message error">
	            @flash.get("fail")
	        </div>
	    } 
    	
	    @helper.form(action = routes.Users.addNewUser()) {
	    
	    	@helper.inputText(userForm("surname"))
	    
	    	@helper.inputText(userForm("name"))
	    	
	    	@helper.inputText(userForm("middlename"))
	    		
	    	@helper.inputText(userForm("country"))
	    	
	    	@helper.inputText(userForm("faculty"))
	    	
	    	@helper.inputText(userForm("groupNumber"))
	    	
	    	@helper.inputText(userForm("year")) 
	    	
	    	@select(
                userForm("floor"), 
                options(Floors.options), 
                '_default -> Messages.get("chooseFloor"),
                '_showConstraints -> false
            )
	    	
		    @mySelect(
                userForm("room"), 
                Rooms.options, 
                '_default -> Messages.get("chooseRoom"),
                '_showConstraints -> false
            )
		    
		    @helper.inputText(userForm("email"), '_label -> "Email")

		    @acceptRulesCheckbox(userForm("acceptRules"), '_label -> "", 'value -> true)

		    <div class="actions">
  			  <input type="submit" value=@Messages.get("register") class="btn primary"> 
  			</div>
    		
    		
	    }	
    
}
