@()
@import play.i18n.Messages;

@main(Messages.get("rules")) {
<H1>@Messages.get("rules")</H1>
<b>Пользователю запрещено:</b>
<ol> 
	<li>
		Самостоятельно подключать в сеть общежития сетевое оборудование (такое как Wifi роутеры, 
		Wifi точки доступа, коммутаторы, модемы, роутеры).
	</li>
	<li>
	Осуществлять целенаправленные действия по сканированию узлов сетей с
	целью выявления внутренней структуры сетей, списков открытых портов и
т.п.
	</li>
	<li>
		Использовать программу Connectify Hotspot,
		 ввиду того что она проводит массовую рассылку широковещательных пакетов.
	</li>
	<li>
	Использование чужого или
незарегистрированного ІР-адреса.
	</li>
	<li>
	«Взлом» серверов компьютеров пользователей
	сети, приведение сети в неработоспособное
	состояние, «флуждение» портов и т.п
	</li>
</ol>
    Также, пользуясь сетью нашего общежития, вы соглашаетесь с
    <a href="@routes.Assets.at("documents/rules.pdf")">Положением об информационной сети общежития БГУ</a>.
    
    За несоблюдени данных правил предусмотрены взыскания, вплоть до отключения от сети.
}